# All pull requests to main require approval from the designated code owner.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @utkarsh-prakash-2911
